body {
  background-color: black;
  color: white;
  font-family: Courier;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

a {
  color: white;
}

a:hover {
  color: blue;
}

audio {
  width: 100%;
}

#title {
  height: 4em;
}
